.header{
    background-color: #787878;
    padding: 15px;
    text-align: center;
}

ul{
    list-style-type: none;
    padding-left: 0;
}

li{
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

li:hover{
    background-color: #cccccc;
}